<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgy.ess_monitoring.dao.WeatherDAO">

    <select id="selectWeatherTargetDevices"
            resultType="com.lgy.ess_monitoring.dto.EssDeviceDTO">
        SELECT
            device_id AS deviceId,
            member_id AS memberId,
            group_id AS groupId,
            device_name AS deviceName,
            location,
            capacity_kw AS capacityKw,
            device_type AS deviceType,
            status,
            install_date AS installDate,
            latitude,
            longitude,
            nx,
            ny,
            is_main AS isMain
        FROM ess_device
        WHERE nx IS NOT NULL
          AND ny IS NOT NULL
    </select>

    <insert id="insertWeatherData"
            parameterType="com.lgy.ess_monitoring.dto.WeatherDataDTO">
        INSERT INTO weather_data (
            device_id,
            fcst_date,
            fcst_time,
            sky_status,
            rain_type,
            rain_prob,
            temperature,
            humidity,
            wind_speed,
            solar_radiation,
            ess_status
        )
        VALUES (
            #{deviceId},
            #{fcstDate},
            #{fcstTime},
            #{skyStatus},
            #{rainType},
            #{rainProb},
            #{temperature},
            #{humidity},
            #{windSpeed},
            #{solarRadiation},
            #{essStatus}
        )
    </insert>

    <select id="selectLatestWeatherByDeviceId"
            parameterType="int"
            resultType="com.lgy.ess_monitoring.dto.WeatherDataDTO">
        SELECT
            weather_id AS weatherId,
            device_id AS deviceId,
            fcst_date AS fcstDate,
            fcst_time AS fcstTime,
            sky_status AS skyStatus,
            rain_type AS rainType,
            rain_prob AS rainProb,
            temperature,
            humidity,
            wind_speed AS windSpeed,
            solar_radiation AS solarRadiation,
            ess_status AS essStatus
        FROM weather_data
        WHERE device_id = #{deviceId}
        ORDER BY fcst_date DESC, fcst_time DESC, created_at DESC
        LIMIT 1
    </select>

</mapper>